@font-face{

    font-family: Pacifico;
    src:url(../font/Pacifico-Regular.ttf);
}
body{

    font-family: 'Srisakdi', cursive;

}
h1{
color: blue;

}

.class1{

    font-weight: bold;
    color: red;
}
.class2{

    font-weight: bold;
    color: black;
}
#div1{

    background-color:cadetblue;
width:200px;
border:2px;


}
h3{

    color: darkblue;
}